.page{
    min-height: 100vh;
}

.gauche{
    position: fixed;
    top: 40px;
    left: 40px;
}

.droite{
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.lorem{
    background-color: red;
    margin: 5%;
}

.lorem:nth-child(2){
    display: inline-block;
}